<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<title>绿友旅游门户网站</title>
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"><!--fix：多核浏览器兼容模式下jQuery误判导致表单检测插件bug-->

  <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/user/style.css">
  <link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/user/reset.css">
  <script type="text/javascript" src="__ROOT__/Public/js/jquery-1.11.0.min.js"></script>
   
</head>

<body style="background-color:white">
<!--网页导航-->
        <div class="head-nav">  
    <div style="padding-top:5px">
<include file="Public/navi" />


    </div>
      </div>
        <!--网页导航 结束-->  
<div id="wrap" style="margin-top:100px;">
  <div id="wrapTop">
    <div id="wrapBtm"> 
     <include file="User/navi" />  
			


<!--div#content-->
<div class="clearfix" id="content">
	<div id="center-home" class="con-in">
		<!--cha-side-->
		<div class="side-cha b-side-cha">
			<!--box-info-->
			<div id="side-login">
			<div class="box-info info-box">
			<div>
			<div style="background: none repeat scroll 0 0 #3882ff;color: #ffffff;font-size: 16px;height: 50zzpx;line-height: 30px;text-align: center;width: 150px;margin-top:20px;margin-left:50px;float:left;">我的订单</div> 
			<div style="line-height:60px;">1-西安艾斯汀酒店;2-西安佰连商务酒店(钟楼店）;3-西安凯迪斯曼酒店</div>
				
				</div>
				<table width="900px" border="0" cellspacing="0" cellpadding="0" style="margin:6px auto;" class="tdTab">
				 <tr style="border-bottom:solid 1px #00afff;border-top:solid 1px #00afff">
                              <td width="200px" height="50px" bgcolor=""style="border-left:solid 1px #00afff;border-right:solid 1px #00afff;text-align:center;"><a> <font class="black; ">订单号</font></a></td>
                              
                              <td width="200px" height="50px" bgcolor=""style="border-left:solid 1px #00afff;border-right:solid 1px #00afff;text-align:center;"><a> <font class="black">下单时间</font></a></td>
                              
                              <td width="200px" height="50px" bgcolor=""style="border-left:solid 1px #00afff;border-right:solid 1px #00afff;text-align:center;"><a> <font class="black">下单的酒店</font></a></td>
							 
                              </tr>
							  <volist name="order" id="vo" >
                        <tr style="border-bottom:solid 1px #00afff;border-top:solid 1px #00afff">
                              <td width="200px" height="50px" bgcolor=""style="border-left:solid 1px #00afff;border-right:solid 1px #00afff;text-align:center;"><a> <font class="black">{$vo.orderid}</font></a></td>
                              
                              <td width="200px" height="50px" bgcolor=""style="border-left:solid 1px #00afff;border-right:solid 1px #00afff;text-align:center;"><a> <font class="black">{$vo.ordertime}</font></a></td>
                              
                              <td width="200px" height="50px" bgcolor=""style="border-left:solid 1px #00afff;border-right:solid 1px #00afff;text-align:center;"><a> <font class="black">{$vo.hotelid}</font></a></td>
							
							  
                              </tr>
                              
	  </volist>
	   <notempty  name="rooms">

	 <!---分页列表--!--->

	 {$list}

	 

	 </notempty>

                        </table>
						
				</div>
							</div>
			</div>
			<!--/box-info-->
			<!--faq-->
			
			<!--/faq-->
		</div>
		<!--/cha-side-->
		<!--main-->
		
		<!--/main-->
	</div>
	
</div>
<!--/div#content--> 

<div style="display:none">	
<!--弹窗表单-->
<!--dialog-req-form-->
			
		








    </div>
  </div>
</div>


</body>
 <script type="text/javascript" src="__ROOT__/Public/js/user/navi.js"></script>
<script type="text/javascript" src="__ROOT__/Public/js/user/navi1.js"></script>

</html>