<div class="newsright">
    <div class="rtable1">
      <h3>推荐景点 美食</h3>
      <ul class="rul2">
        
          <li><a href="__ROOT__/index.php/Home/List/huashan" title="华山" target="_blank">
          <img src="__ROOT__/Public/img/huashan/huashan4.jpg" width="116" height="90" /></a>
            <div><a href="__ROOT__/index.php/Home/List/huashan" title="华山" target="_blank">华山</a></div>
          </li>
        
          <li><a href="__ROOT__/index.php/Home/List/" title="太白山" target="_blank">
          <img src="__ROOT__/Public/img/taibai/taibai16.jpg" width="116" height="90" /></a>
            <div><a href="__ROOT__/index.php/Home/List/" title="太白山" target="_blank">太白山</a></div>
          </li>
        
          <li><a href="__ROOT__/index.php/Home/List/bingma" title="兵马俑" target="_blank">
          <img src="__ROOT__/Public/img/bingma/bingma1.jpg" width="116" height="90" /></a>
            <div><a href="__ROOT__/index.php/Home/List/bingma" title="兵马俑" target="_blank">兵马俑</a></div>
          </li>
        
          <li><a href="__ROOT__/index.php/Home/List/datang" title="大唐芙蓉园" target="_blank">
          <img src="__ROOT__/Public/img/datang/datang6.jpg" width="116" height="90" /></a>
            <div><a href="__ROOT__/index.php/Home/List/datang" title="大唐芙蓉园" target="_blank">大唐芙蓉园</a></div>
          </li>
        
          <li><a href="__ROOT__/index.php/Home/List/zhonglou" title="西安钟楼" target="_blank">
          <img src="__ROOT__/Public/img/zhonglou/zhonglou1.jpg" width="116" height="90" /></a>
            <div><a href="__ROOT__/index.php/Home/List/zhonglou" title="西安钟楼" target="_blank">西安钟楼</a></div>
          </li>
        
          <li><a href="__ROOT__/index.php/Home/List/famensi" title="法门寺" target="_blank">
          <img src="__ROOT__/Public/img/famen/famen3.jpg" width="116" height="90" /></a>
            <div><a href="__ROOT__/index.php/Home/List/famensi" title="法门寺" target="_blank">法门寺</a></div>
          </li>
        
          <li><a href="__ROOT__/index.php/Home/List/yandiling" title="炎帝陵" target="_blank">
          <img src="__ROOT__/Public/img/yandi/yandi6.jpg" width="116" height="90" /></a>
            <div><a href="__ROOT__/index.php/Home/List/yandiling" title="炎帝陵" target="_blank">炎帝陵</a></div>
          </li>
        
          <li><a href="__ROOT__/index.php/Home/List/beiling" title="西安碑林" target="_blank">
          <img src="__ROOT__/Public/img/beiling/beiling4.jpg" width="116" height="90" /></a>
            <div><a href="__ROOT__/index.php/Home/List/beiling" title="西安碑林" target="_blank">西安碑林</a></div>
          </li>
        
          <li><a href="__ROOT__/index.php/Home/List/jiangzi" title="姜子牙钓鱼台" target="_blank">
          <img src="__ROOT__/Public/img/jiangzi/jiangzi2.jpg" width="116" height="90" /></a>
            <div><a href="__ROOT__/index.php/Home/List/jiangzi" title="姜子牙钓鱼台" target="_blank">姜子牙钓鱼台</a></div>
          </li>
        
          <li><a href="__ROOT__/index.php/Home/List/liangpi" title="陕西凉皮" target="_blank">
          <img src="__ROOT__/Public/img/meishi/meishi1.jpg" width="116" height="90" /></a>
            <div><a href="__ROOT__/index.php/Home/List/huashan" title="陕西凉皮" target="_blank">陕西凉皮</a></div>
          </li>
        
          <li><a href="__ROOT__/index.php/Home/List/saozi" title="臊子面" target="_blank">
          <img src="__ROOT__/Public/img/meishi/meishi4.jpg" width="116" height="90" /></a>
            <div><a href="__ROOT__/index.php/Home/List/saozi" title="臊子面" target="_blank">臊子面</a></div>
          </li>
        
          <li><a href="__ROOT__/index.php/Home/List/yangrou" title="羊肉泡馍" target="_blank">
          <img src="__ROOT__/Public/img/meishi/meishi6.jpg" width="116" height="90" /></a>
            <div><a href="__ROOT__/index.php/Home/List/yangrou" title="羊肉泡馍" target="_blank">羊肉泡馍</a></div>
          </li>
        
      </ul>
      <div class="clear"></div>
    </div>
  </div>