
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>绿友旅游 - 玩在关中</title>
<link href="__ROOT__/Public/css/navi/fonts.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/Public/css/navi/style.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/Public/css/navi/top.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/Public/css/navi/fengqing/index.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/Public/css/navi/fengqing/jhfq.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/Public/css/navi/fengqing/css/basic.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/Public/css/navi/fengqing/galleriffic-2.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/Public/css/navi/fengqing/lanrenzhijia.css" rel="stylesheet" type="text/css" />
</head>
<body>


<table width="1007" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" ><script type="text/javascript" src="__ROOT__/Public/js/play/mediaPlayer.js"></script>
        <script type="text/javascript">
	      var __mediaPlayerFactory = new MediaPlayerFactory(null, 1004, 135, '/images/cntravel_banner.swf');
	      __mediaPlayerFactory.init();
	      __mediaPlayerFactory.addParameter("play", "true");
	      __mediaPlayerFactory.addParameter("loop", "true");
	      __mediaPlayerFactory.addParameter("quality", "high");
	      document.write(__mediaPlayerFactory.getMediaPlayer(1));
	</script>
    </td>
  </tr>
</table>
<table width="1007" border="0" align="center" cellpadding="0" cellspacing="0" style=" no-repeat;">
  <tr>
    <td style="padding-left:0px; padding-right:0px;"><div class="nav_header">
       <include file="Public/navi"/> 
      </div></td>
  </tr>
</table>
<table width="1003" align="center" border="0" cellspacing="0" cellpadding="0" style="margin:50px auto 0px auto;">
  <tbody><tr>
    <td valign="top" style="padding-top: 8px; padding-bottom: 8px;" bgcolor="#ffffff">
	<table width="960" align="center" style="border: 1px solid rgb(173, 207, 242); border-image: none;margin:0 auto;" border="0" cellspacing="0" cellpadding="0">
        <tbody>
		<include file="Public/navi1"/> 
      </tbody></table>
    </td>
  </tr>
</tbody></table>
<div class="whiteBg2">
  <div class="wzJ"><span>&nbsp;</span>当前位置：绿友旅游 &gt; 关中风情</div>
</div>
<div class="whiteBg2">
  <div class="wzJ">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td style="padding-bottom:10px; height:310px;*height:0px;_height:0px;">
           <div class="foucebox">
  <div class="bd">
    <div class="showDiv"> <a href="__ROOT__/index.php/Home/List/huashan"><img src="__ROOT__/Public/img/huashan/huashan1.jpg"></a>
      <div class="foucebox_bg"></div>
      <div>
        <h2 style="bottom: 60px;"><a href="__ROOT__/index.php/Home/List/huashan" target="_blank">华山</a></h2>
       
      </div>
    </div>
    <div class="showDiv"><a href="__ROOT__/index.php/Home/List/"><img src="__ROOT__/Public/img/taibai/taibai4.jpg"></a>
      <div class="foucebox_bg"></div>
      <div>
        <h2 style="bottom: 60px;"><a href="__ROOT__/index.php/Home/List/" target="_blank">太白山</a></h2>
        
      </div>
    </div>
    <div class="showDiv"><a href="__ROOT__/index.php/Home/List/bingma"><img src="__ROOT__/Public/img/bingma/bingma1.jpg"></a>
      <div class="foucebox_bg"></div>
      <div>
        <h2 style="bottom: 60px;"><a href="__ROOT__/index.php/Home/List/bingma" target="_blank">兵马俑</a></h2>
      
      </div>
    </div>
    <div class="showDiv"><a href="__ROOT__/index.php/Home/List/datang"><img src="__ROOT__/Public/img/datang/datang4.jpg"></a>
      <div class="foucebox_bg"></div>
      <div>
        <h2><a href="__ROOT__/index.php/Home/List/datang" target="_blank">大唐芙蓉园</a></h2>
      
      </div>
    </div>
    <div class="showDiv"><a href="__ROOT__/index.php/Home/List/famensi"><img src="__ROOT__/Public/img/famen/famen13.jpg"></a>
      <div class="foucebox_bg"></div>
      <div>
        <h2><a href="__ROOT__/index.php/Home/List/famensi" target="_blank">法门寺</a></h2>
       
      </div>
    </div>
    <div class="showDiv"><a href="__ROOT__/index.php/Home/List/yandiling"><img src="__ROOT__/Public/img/yandi/yandi6.jpg"></a>
      <div class="foucebox_bg"></div>
      <div>
        <h2><a href="__ROOT__/index.php/Home/List/yandiling" target="_blank">炎帝陵</a></h2>
        
      </div>
    </div>
    <div class="showDiv"><a href="__ROOT__/index.php/Home/List/zhonglou"><img src="__ROOT__/Public/img/zhonglou/zhonglou4.jpg"></a>
      <div class="foucebox_bg"></div>
      <div>
        <h2><a href="__ROOT__/index.php/Home/List/zhonglou" target="_blank">钟楼</a></h2>
        
      </div>
    </div>
    <div class="showDiv"><a href="__ROOT__/index.php/Home/List/beiling"><img src="__ROOT__/Public/img/beiling/beiling2.jpg"></a>
      <div class="foucebox_bg"></div>
      <div>
        <h2><a href="__ROOT__/index.php/Home/List/beiling" target="_blank">西安碑林</a></h2>
        
      </div>
    </div>
  </div>
  <div class="hd">
    <ul>
      <li class="on"><a href="#"><img src="__ROOT__/Public/img/huashan/huashan1.jpg"><span class="txt">华山</span><span class="txt_bg"></span><span class="mask"></span></a></li>
      <li><a href="#"><img src="__ROOT__/Public/img/taibai/taibai4.jpg"><span class="txt">太白山</span><span class="txt_bg"></span><span class="mask"></span></a></li>
      <li><a href="#"><img src="__ROOT__/Public/img/bingma/bingma1.jpg"><span class="txt">兵马俑</span><span class="txt_bg"></span><span class="mask"></span></a></li>
      <li><a href="#"><img src="__ROOT__/Public/img/datang/datang4.jpg"><span class="txt">大唐芙蓉园</span><span class="txt_bg"></span><span class="mask"></span></a></li>
      <li><a href="#"><img src="__ROOT__/Public/img/famen/famen13.jpg"><span class="txt">法门寺</span><span class="txt_bg"></span><span class="mask"></span></a></li>
      <li><a href="#"><img src="__ROOT__/Public/img/yandi/yandi6.jpg"><span class="txt">炎帝陵</span><span class="txt_bg"></span><span class="mask"></span></a></li>
      <li><a href="#"><img src="__ROOT__/Public/img/zhonglou/zhonglou4.jpg"><span class="txt">钟楼</span><span class="txt_bg"></span><span class="mask"></span></a></li>
      <li><a href="#"><img src="__ROOT__/Public/img/beiling/beiling2.jpg"><span class="txt">西安碑林</span><span class="txt_bg"></span><span class="mask"></span></a></li>
    </ul>
  </div>
</div>
          </div>
          <div class="clear"></div></td>
      </tr>
      <tr>
        <td valign="top" style="padding-bottom:10px; background:url(/images/jhfq/meijing_bg.jpg) no-repeat; width:960px;height:20px;" >
		<table width="952" border="0" cellspacing="0" cellpadding="0" style="margin:10px 0px 0px 20px;">
           	<table width="960" align="center" style="border: 1px solid rgb(173, 207, 242); border-image: none;margin:0 auto;" border="0" cellspacing="0" cellpadding="0">
        <tbody>
		<include file="Public/navi1"/> 
      </tbody></table>
            <tr>
              <td colspan="4"><table width="912" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="377" rowspan="2" valign="top"><div class="meij"><a href="__ROOT__/index.php/Home/List/" target="_blank" title="黄山风景区"><img src="__ROOT__/Public/img/huashan/huashan1.jpg" width="338" height="216"style="padding-left:8px;padding-top:7px;" /></a></div>
                      <div style="background:url(/images/jhfq/jianbian.gif) no-repeat ; height:28px; text-align:center;margin-top:19px">
                        <a href="__ROOT__/index.php/Home/List/" target="_blank" title="华山"> 华山 </a></div></td>
                    <td width="535" height="118">
                        <div class="meij_min">
                          <div class="tu"><a href="__ROOT__/index.php/Home/List/" target="_blank" title="太白山"> <img src="__ROOT__/Public/img/taibai/taibai4.jpg" width="140" height="107" /></a></div>
                          <div class="shuoming"><a href="__ROOT__/index.php/Home/List/" target="_blank" title="太白山"> 太白山 </a></div>
                        </div>
                        
                        <div class="meij_min">
                          <div class="tu"><a href="__ROOT__/index.php/Home/List/bingma" target="_blank" title="兵马俑"> <img src="__ROOT__/Public/img/bingma/bingma1.jpg" width="140" height="107" /></a></div>
                          <div class="shuoming"><a href="__ROOT__/index.php/Home/List/bingma" target="_blank" title="兵马俑"> 兵马俑 </a></div>
                        </div>
                        
                        <div class="meij_min">
                          <div class="tu"><a href="__ROOT__/index.php/Home/List/datang" target="_blank" title="大唐芙蓉园"> <img src="__ROOT__/Public/img/datang/datang4.jpg" width="140" height="107" /></a></div>
                          <div class="shuoming"><a href="__ROOT__/index.php/Home/List/datang" target="_blank" title="大唐芙蓉园"> 大唐芙蓉园 </a></div>
                        </div>
                        </tr></td><tr><td>
                        <div class="meij_min">
                          <div class="tu"><a href="__ROOT__/index.php/Home/List/famensi" target="_blank" title="法门寺"> <img src="__ROOT__/Public/img/famen/famen13.jpg" width="140" height="107" /></a></div>
                          <div class="shuoming"><a href="__ROOT__/index.php/Home/List/famensi" target="_blank" title="法门寺"> 法门寺 </a></div>
                        </div>
                        
                        <div class="meij_min">
                          <div class="tu"><a href="__ROOT__/index.php/Home/List/yandiling" target="_blank" title="炎帝陵"> <img src="__ROOT__/Public/img/yandi/yandi6.jpg" width="140" height="107" /></a></div>
                          <div class="shuoming"><a href="__ROOT__/index.php/Home/List/yandiling" target="_blank" title="炎帝陵"> 炎帝陵 </a></div>
                        </div>
                        
                        <div class="meij_min">
                          <div class="tu"><a href="__ROOT__/index.php/Home/List/zhonglou" target="_blank" title="钟楼"> <img src="__ROOT__/Public/img/zhonglou/zhonglou4.jpg" width="140" height="107" /></a></div>
                          <div class="shuoming"><a href="__ROOT__/index.php/Home/List/zhonglou" target="_blank" title="钟楼"> 钟楼 </a></div>
                        </div>
                        </tr></td><tr><td></td>
                  </tr>
                </table></td>
            </tr>
          </table>
       
          </td>
      </tr>
      <tr>
      <td valign="top" style="padding-bottom:10px; background:url(__ROOT__/Public/img/fengqing/jingqushiping_bg.gif) no-repeat; height:467px; width:960px;padding-left:">
		<table width="952" border="0" cellspacing="0" cellpadding="0" style="margin:10px 0px 0px 20px;background:url(__ROOT__/Public/img/fengqing/jingqushiping_bg.gif) no-repeat;height:467px; width:960px;">
           
        <tr >
          <td width="109" align="left" style="padding-left:110px;padding-top:20px;font-size:20px;"><font class="cu12px">陕西美食</font></td>
          <td width="849" align="center" style="padding-left:8px;"><font class="cu12px"><a href='__ROOT__/index.php/Home/List/bingma' target="_blank">兵马俑</a></font> | <font class="cu12px"><a href='__ROOT__/index.php/Home/List/' target="_blank">太白山</a></font> | <font class="cu12px"><a href='__ROOT__/index.php/Home/List/huashan' target="_blank">华山</a></font> | <font class="cu12px"><a href='__ROOT__/index.php/Home/List/famensi' target="_blank">法门寺</a></font> | <font class="cu12px"><a href='__ROOT__/index.php/Home/List/datang' target="_blank">大唐芙蓉园</a></font> | <font class="cu12px"><a href='__ROOT__/index.php/Home/List/zhonglou' target="_blank">西安钟楼</a></font> | <font class="cu12px"><a href='__ROOT__/index.php/Home/List/yandi' target="_blank">炎帝陵</a></font>|<font class="cu12px"><a href='__ROOT__/index.php/Home/List/beiling' target="_blank">西安碑林</a></font>|<font class="cu12px"><a href='__ROOT__/index.php/Home/List/jiangzi' target="_blank">姜子牙钓鱼台</a></font></td>
        </tr> 
            <tr>
              <td colspan="4" valign="top"><table width="952" border="0" cellspacing="0" cellpadding="0" style="margin-top: 10px;">
                  <tr>
                    <td width="316" valign="top">
                           
                          
                     <img src="__ROOT__/Public/img/meishi/meishi1.jpg" width="316" height="238" style="padding-left:10px;padding-top:10px;"/>
                    </td>
                    <td width="329" valign="top"><table width="310" border="0" cellspacing="0" cellpadding="0" style="margin-left:10px">
                        <tr>
                          <td class="red14px">
                          
                          <a href="__ROOT__/index.php/Home/List/meishi" target="_blank" title="陕西美食">陕西美食</a></td>
                        </tr>
                        <tr>
                          <td style="text-align: justify; text-justify:inter-ideograph; padding-bottom:5px">经历了千余年发展的陕西小吃。由于政治、经济、文化的有利条件，博采各地之精华，兼收民族饮食之风味，挖掘、继承历代宫廷小吃之技艺，因而以其品种繁多、风味各异而著称。
                            <a href="__ROOT__/index.php/Home/List/meishi" target="_blank" class="link3">[详细]</a></td>
                        </tr>
                        <tr>
                          <td><table width="310" border="0" cellspacing="0" cellpadding="0" bgcolor="#eff0f1">
                              
                                <tr>
                                  <td valign="bottom" height="25px"><span style="background:url(__ROOT__/Public/img/fengqing/logo_jiqi.jpg) no-repeat ; width:22px; height:25px; float:left; margin-right:10px; margin-left:10px "></span>
                                    
                                    <a href="__ROOT__/index.php/Home/List/liangpi" target="_blank" title="陕西凉皮">陕西凉皮</a></td>
                                </tr>
                              
                                <tr>
                                  <td valign="bottom" height="25px"><span style="background:url(__ROOT__/Public/img/fengqing/fengqing/logo_jiqi.jpg) no-repeat ; width:22px; height:25px; float:left; margin-right:10px; margin-left:10px "></span>
                                    
                                    <a href="__ROOT__/index.php/Home/List/rou" target="_blank" title="陕西肉夹馍">陕西肉夹馍</a></td>
                                </tr>
                              
                                <tr>
                                  <td valign="bottom" height="25px"><span style="background:url(__ROOT__/Public/img/fengqing/logo_jiqi.jpg) no-repeat ; width:22px; height:25px; float:left; margin-right:10px; margin-left:10px "></span>
                                    
                                    <a href="__ROOT__/index.php/Home/List/saozi" target="_blank" title="陕西臊子面">陕西臊子面</a></td>
                                </tr>
                              
                                <tr>
                                  <td valign="bottom" height="25px"><span style="background:url(__ROOT__/Public/img/fengqing/logo_jiqi.jpg) no-repeat ; width:22px; height:25px; float:left; margin-right:10px; margin-left:10px "></span>
                                    
                                    <a href="__ROOT__/index.php/Home/List/yangrou" target="_blank" title="陕西羊肉泡馍">陕西羊肉泡馍</a></td>
                                </tr>
                              
                                <tr>
                                  <td valign="bottom" height="25px"><span style="background:url(__ROOT__/Public/img/fengqing/logo_jiqi.jpg) no-repeat ; width:22px; height:25px; float:left; margin-right:10px; margin-left:10px "></span>
                                    
                                    <a href="__ROOT__/index.php/Home/List/yousu" target="_blank" title="陕西油酥饼">陕西油酥饼</a></td>
                                </tr>
                              
                            </table></td>
                        </tr>
                      </table></td>
                    <td width="263" rowspan="2" valign="top" style="padding-left:10px"><div class="shiping">
                        <ul>
                          
                              <li><span class="bg1">1</span>
                                <div class="rebo">
                                  <div class="zhanwu" style="padding:2px;border:1px solid #ccc;margin-right:3px;">
                                  <a href="/JacScenic---videoView---32465.shtml" target="_blank" title="天柱山风景区">
                                  	<img src="__ROOT__/Public/img/meishi/meishi5.jpg" width="94" height="94" />
                                  	
                                  </a></div>
                                  <div class="rebotit"><a href="__ROOT__/index.php/Home/List/yangrou" target="_blank" title="陕西扯面" style="font-weight:bold;">陕西扯面</a><br />
                                   陕西扯面源远流长...</div>
                                </div>
                              </li>
                            
                              <li><span class="bg1">2</span><a href="__ROOT__/index.php/Home/List/yangrou" target="_blank" title="陕西凉皮">
                                陕西凉皮
                                </a></li>
                            
                              <li><span class="bg1">3</span><a href="__ROOT__/index.php/Home/List/yangrou" target="_blank" title="陕西臊子面">
                                陕西臊子面
                                </a></li>
                            
                              <li><span class="bg1">4</span><a href="__ROOT__/index.php/Home/List/yangrou" target="_blank" title="陕西肉夹馍">
                                陕西肉夹馍
                                </a></li>
                            
                              <li><span class="bg2">5</span><a href="__ROOT__/index.php/Home/List/yangrou" target="_blank" title="陕西油酥饼">
                                陕西油酥饼
                                </a></li>
                            
                              <li><span class="bg2">6</span><a href="__ROOT__/index.php/Home/List/yangrou" target="_blank" title="陕西羊肉泡馍">
                                陕西羊肉泡馍
                                </a></li>
                            
                             
                                </a></li>
                            
                        </ul>
                      </div></td>
                  </tr>
                  <tr>
                    <td colspan="2" style="padding-top: 5px;padding-left:20px">
                      <ul class="picListJ2">
                        
                          <li>
                            <div class="piclistimg"><a href="__ROOT__/index.php/Home/List/yangrou" target="_blank"><img src="__ROOT__/Public/img/meishi/meishi5.jpg" width="146" height="97" /></a>
                              
                            </div>
                            <a href="__ROOT__/index.php/Home/List/yangrou" target="_blank" title="陕西羊肉泡馍">陕西羊肉泡馍</a></li>
                        
                          <li>
                            <div class="piclistimg"><a href="__ROOT__/index.php/Home/List/saozi" target="_blank"><img src="__ROOT__/Public/img/meishi/meishi4.jpg" width="146" height="97" /></a>
                              
                            </div>
                            <a href="__ROOT__/index.php/Home/List/saozi" target="_blank" title="陕西臊子面">陕西臊子面</a></li>
            
                          <li>
                            <div class="piclistimg"><a href="__ROOT__/index.php/Home/List/liangpi" target="_blank"><img src="__ROOT__/Public/img/meishi/meishi1.jpg" width="146" height="97" /></a>
                             
                            </div>
                            <a href="__ROOT__/index.php/Home/List/liangpi" target="_blank" title="陕西凉皮">陕西凉皮</a></li>
                        
                          <li>
                            <div class="piclistimg"><a href="__ROOT__/index.php/Home/List/yangrou" target="_blank"><img src="__ROOT__/Public/img/meishi/meishi2.jpg" width="146" height="97" /></a>
                             
                            </div>
                            <a href="__ROOT__/index.php/Home/List/yangrou" target="_blank" title="陕西羊肉泡馍">陕西羊肉泡馍</a></li>
                        
                      </ul></td>
                  </tr>
                </table></td>
            </tr>
          </table>
		  </td>
      </tr>
    </table>
    <div class="clear"></div>
  </div>
</div>

		<table width="1003" border="0" align="center" cellpadding="0" cellspacing="0" style="background-color:#fff;margin:0 auto;">
  <tr>
    <td style="padding-top:8px;"><table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td height="35" align="center" style="background:url(/images/bottom.gif) no-repeat;"><font class="white12px">&nbsp;</font></td>
        </tr>
        <tr>
        <include file="Public/footer" />
        </tr>
      </table></td>
  </tr>
</table>
<div style="display:none;"><script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F02030b92bd14970b33fe45f3d376dfc5' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
<script type="text/javascript" src="__ROOT__/Public/js/fengqing/jquery.js"></script>
<script type="text/javascript" src="__ROOT__/Public/js/fengqing/jquery.galleriffic.js"></script>
<script type="text/javascript" src="__ROOT__/Public/js/fengqing/jquery.opacityrollover.js"></script>
<script type="text/javascript" src="__ROOT__/Public/js/fengqing/autoPlayImages.js"></script>
<script type="text/javascript" src="__ROOT__/Public/js/fengqing/h.js"></script>
<script type="text/javascript" src="__ROOT__/Public/js/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="__ROOT__/Public/js/fengqing/jquery.SuperSlide.js"></script>
<script>
jQuery(".foucebox").slide({ effect:"fold", autoPlay:true, delayTime:300, startFun:function(i){jQuery(".foucebox .showDiv").eq(i).find("h2").css({display:"none",bottom:0}).animate({opacity:"show",bottom:"60px"},300);jQuery(".foucebox .showDiv").eq(i).find("p").css({display:"none",bottom:0}).animate({opacity:"show",bottom:"10px"},300);}});
</script>
</body>
</html>
