
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="Keywords" content="安徽旅游精品路线" />
<meta name="Description" content="安徽旅游精品路线,安徽旅游" />
<title>安徽旅游精品路线 - 安徽旅游</title>
<link href="__ROOT__/Public/css/navi/font.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/Public/css/navi/style.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/Public/css/navi/top.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/Public/css/navi/road/road.css" rel="stylesheet" type="text/css" />
<style type="text/css">
<!--
.STYLE1 {color: #666666}
-->
</style>
<style type="text/css">
<!--
.STYLE2 {font-size: 12px}
-->
</style>
</head>
<body>


<table width="1007" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" ><script type="text/javascript" src="/commons/scripts/mediaPlayer.js"></script>
        <script type="text/javascript">
	      var __mediaPlayerFactory = new MediaPlayerFactory(null, 1004, 135, '/images/cntravel_banner.swf');
	      __mediaPlayerFactory.init();
	      __mediaPlayerFactory.addParameter("play", "true");
	      __mediaPlayerFactory.addParameter("loop", "true");
	      __mediaPlayerFactory.addParameter("quality", "high");
	      document.write(__mediaPlayerFactory.getMediaPlayer(1));
	</script>
    </td>
  </tr>
</table>
<table width="1007" border="0" align="center" cellpadding="0" cellspacing="0" style=" no-repeat;">
  <tr>
    <td style="padding-left:0px; padding-right:0px;"><div class="nav_header">
        <include file="Public/navi"/>
      </div></td>
  </tr>
</table>
<table width="1003" border="0" align="center" cellpadding="0" cellspacing="0"style="margin:50px auto 0px auto;">
  <tr>
    <td valign="top" bgcolor="#FFFFFF" style=" padding-top:8px; padding-bottom:8px;"><table width="960" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px #adcff2 solid;margin:0px auto;">
       <include file="Public/navi1"/>
      </table>
    </td>
  </tr>
</table>
<div class="roadcont">
	<div class="roadbaner"><img alt="绿友关中之旅-精品路线" src="__ROOT__/Public/img/play/play1.jpg" style="width:1003px;height:400px;"/></div>
    <div class="roadtit"><img alt="精品线路" src="__ROOT__/Public/img/play/roadtit1.gif" /></div>
    <div class="roadul1">
    <ul>
	  
		<li><div class="lpic1"><a href="__ROOT__/index.php/Home/List/bingma" target="_blank" title="世界遗迹探访之旅"><img src="__ROOT__/Public/img/bingma/bingma1.jpg" width="178" height="128" /></a></div><div class="rtxt1"><h3><a href="__ROOT__/index.php/Home/List/bingma" target="_blank" title="世界遗迹探访之旅">世界遗迹探访之旅</a></h3><p>秦始皇陵兵马俑被誉为是“世界八大奇迹”，来中国不来看兵马俑等于白来。</p></div></li>	    
	  
		<li><div class="lpic1"><a href="__ROOT__/index.php/Home/List/zhonglou" target="_blank" title="历史古都西安之旅"><img src="__ROOT__/Public/img/zhonglou/zhonglou1.jpg" width="178" height="128" /></a></div><div class="rtxt1"><h3><a href="__ROOT__/index.php/Home/List/zhonglou" target="_blank" title="历史古都西安之旅">历史古都西安之旅</a></h3><p>古都西安有着千年的文化历史，历来很多的朝代都在此建都，文化底蕴十分的深厚。</p></div></li>	    
	  
		<li><div class="lpic1"><a href="__ROOT__/index.php/Home/List/huashan" target="_blank" title="西岳华山论剑"><img src="__ROOT__/Public/img/huashan/huashan2.jpg" width="178" height="128" /></a></div><div class="rtxt1"><h3><a href="__ROOT__/index.php/Home/List/huashan" target="_blank" title="西岳华山论剑">西岳华山论剑</a></h3><p>华山古称“西岳”，为中国著名的五岳之一。华山还是神州九大观日处之一。华山观日处位于华山东峰（亦称朝阳峰），朝阳台为最佳地点。华山还是道教胜地，为“第四洞天”，有陈抟、郝大通、贺元希诸位著名的道教高人</p></div></li>	    
	  
		<li><div class="lpic1"><a href="__ROOT__/index.php/Home/List/taibai" target="_blank" title="探访诗仙李白-太白山之旅"><img src="__ROOT__/Public/img/taibai/taibai3.jpg" width="178" height="128" /></a></div><div class="rtxt1"><h3><a href="__ROOT__/index.php/Home/List/taibai" target="_blank" title="探访诗仙李白-太白山之旅">探访诗仙李白-太白山之旅</a></h3><p>太白山是秦岭山脉主峰，也是中国大陆青藏高原以东第一高峰。国家森林公园，国家AAAA级旅游景区。太白山是长江和黄河两大水系分水岭。具低山、中山、高山等地貌类型，界限清楚、特点各异，特别是第四纪冰川活动所雕琢的各种地貌形态保留完整、清晰可辨。</p></div></li>	    
	  
		<li><div class="lpic1"><a href="__ROOT__/index.php/Home/List/datang" target="_blank" title="感受大唐文化-大唐之旅"><img src="__ROOT__/Public/img/datang/datang3.jpg" width="178" height="128" /></a></div><div class="rtxt1"><h3><a href="__ROOT__/index.php/Home/List/datang" target="_blank" title="感受大唐文化-大唐之旅">感受大唐文化-大唐之旅</a></h3><p>西安大唐芙蓉园是国家AAAAA级旅游景区，全国首个全方位展示盛唐风貌的大型皇家园林式文化主题公园，是首个“五感”（即视觉、听觉、嗅觉、触觉、味觉）主题公园，拥有全球最大户外香化工程以及全球最大的水景表演展示。</p></div></li>	    
	  
		<li><div class="lpic1"><a href="__ROOT__/index.php/Home/List/jiangzi" target="_blank" title="感受西周文化-姜子牙钓鱼台之旅"><img src="__ROOT__/Public/img/jiangzi/jiangzi3.jpg" width="178" height="128" /></a></div><div class="rtxt1"><h3><a href="__ROOT__/index.php/Home/List/jiangzi" target="_blank" title="感受西周文化-姜子牙钓鱼台之旅">感受西周文化-姜子牙钓鱼台之旅</a></h3><p>姜子牙钓鱼台风景区是国家AAA级景区，景区内人文古迹闻名海内外，名贯古今的“姜子牙钓鱼、周文王访贤”的历史典故就发生在这里，汉代立祠、兴盛唐时的殿堂祠庙随山就势，气势宏伟；巨大如丘的“钓璜灵矶”石；跪痕犹存、被称为中国第一钓台的姜子牙“跪石”及粗需三人合抱的四棵千年“唐柏”更为这内涵深厚的人文古迹锦上添花，给人以知识的熏陶和历史的感悟。 </p></div></li>	    
	 
    </ul>
    <div class="clear"></div>
    </div>

<div> 
	<form id="bottomPageForm" name="bottomPageForm" method="post" action="FineLine.do">
	     <table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
	       <tr>
	         <td height="10" align="center"><script type="text/javascript" src="/commons/scripts/pager.js">;</script> 
	           <script type="text/javascript">
		var pager = new Pager(document.bottomPageForm, 10, 10, 1);
		pager.addHiddenInputs("mod_code", "707000");
		document.write(pager.toString());
	           </script></td>
	       </tr>
	     </table>
	</form>
</div><div class="clear"></div>
</div>



		<table width="1003" border="0" align="center" cellpadding="0" cellspacing="0" style="background-color:#fff;margin:0 auto;">
  <tr>
    <td style="padding-top:8px;"><table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td height="35" align="center" style="background:url(/images/bottom.gif) no-repeat;"><font class="white12px">&nbsp;</font></td>
        </tr>
        <tr>
        <include file="Public/footer" />
        </tr>
      </table></td>
  </tr>
</table>
<div style="display:none;"><script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F02030b92bd14970b33fe45f3d376dfc5' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
</body>
</html>
