.clearfix {
	display: inline-block;
}
.clearfix:after {
	content: " ";
	display: block;
	height: 0;
	clear: both;
	font-size: 0;
	visibility: hidden;
}
/* Hides from IE-mac \*/
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
html {
	background:#fff;
	overflow:auto;
	overflow-y:scroll; 
	height:100%;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
	margin:0;
	padding:0;
}
 

li {
	list-style:none;
}

h1, h2, h3, h4, h5, h6 {
	font-size:100%;
	font-weight:normal;
}
br {
	letter-spacing:0px;
}

.center {
	margin:0px auto;
}
.central {
	text-align:center !important;
}
.left {
	float:left;
}
.right {
	float:right;
}
.textleft {
	text-align:left;
}
.textright {
	text-align:right;
}
.middle {
	vertical-align:middle;
}
.clear {
	float:none;
	clear:both;
	font-size:0px;
	line-height:0px;
	height:0px;
	min-height:0px;
	padding:0px;
	margin:0px;
	overflow:hidden;
}
.hide {
	display:none;
}

.hr {
	height:1px;
	line-height:0px;
	font-size:0px;
	border-top:solid 1px #f1f1f1;
	margin-top:10px;
}
.inline {
	display:inline;
}
.hand {
	cursor:pointer;
}
a {
	outline:none;
	text-decoration:none;
	color:#FFFFFF;
}
a img {
	border:none;
}
a:hover {
	text-decoration:underline;color:#ffffff;outline:none;
}

body {
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;

	line-height:22px;
}
/* site wide */
#wrapper {
	width:100%;
	background-attachment: scroll;
	background-image: url(../images/bg_sub.png);
	background-repeat: repeat;
	background-position: 0 0;
}
#container {
	width:1000px;
	margin:0 auto;
}
.bound {
	width:980px;
	overflow:hidden;
	margin:0 auto;
}
.clear_head {
	width:986px;
}
a.expand {
	display:block;
	float:right;
	font-size:12px;
	height:18px;
	line-height:18px;
	vertical-align:middle;
    *width:90px;
	width:auto !important;
}
img.iconTick {
	margin-left:5px;
	vertical-align: middle;
}
span.HighlightSearch {
	font-weight:bold;
}

/*caoqing add*/

#menu {
	height: 60px;
	border-top: 1px solid #d7d4cf;
	border-bottom: 1px solid #C4C6C3;
	min-width: 1000px;
	width: auto !important;
	margin: 0px auto;
	position: relative;
	z-index: 10;
	background-image: url(../images/menu_bg.png);
	background-repeat: repeat-x;
	background-position: left bottom;
}
#menu .nav {
	width:100%;
	margin: 0 auto;
	height: 60px;
	position: relative;
	z-index: 100;
}
#menu .nav ul {
	float: right;
}
#menu li {
	float: right;
	display: block;
	overflow: visible;
	vertical-align: top;
}
.nav a {
	color:#CCCCCC;
	cursor:pointer;
}
.nav a.trad, .nav a.solutions_products, .nav a.support, .nav a.product_genew, .nav a.join_huawei, .nav a.shop_huawei {
	display: block;
	line-height: 60px;
	text-decoration:none;
	color:#cccccc;
	font-size:14px;
	font-weight:bold;
	text-align:center;
	position:relative;
	z-index:1007;
}
.nav a.trad span, .nav a.solutions_products span, .nav a.support span, .nav a.product_genew span, .nav a.join_huawei span, .nav a.shop_huawei span {
	display: block;
	height:60px;
	margin-left: 2px;
	width:auto;
	padding:0 14px 0 14px;
}
 
.nav li #menuhover span:hover {
	background-image:url(../images/ghovermenu.png);
	background-repeat:no-repeat;
	background-position:100% -18px;
	color:#FFFFFF;

}
.nav li #menuhover span:active {
	color: #FFFFFF;
}

.head_hover_bg{
	background-image:url(../images/ghovermenu.png);
	background-repeat:no-repeat;
	background-position:100% -18px;
	color:#CCCCCC;
}
/*take off background*/
.nav a.shop_huawei:hover, .nav li a.shop_huawei:hover span {
	background:none;
}
.menuitempanel {
	top: 60px;
	position: absolute;
	z-index: 1000;
	display: none;
	right: 0px;
	-webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, .3);
	box-shadow: 2px 2px 6px rgba(0, 0, 0, .3);
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
}
.menuright {
	right:0px;
	left:auto;
}
.menucontentdiv {
	border-left: 1px solid #CCC;
	margin-right: 7px;
	padding: 20px 20px 0 30px;
	width:auto;
	height:100%;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-image: url(../images/menucontentdiv.png);
	background-repeat: repeat-x;
	background-position: 0 0;
}
.menucontentdiv .clearfix {
	padding-bottom:10px;
	position:relative;
}
.menufillet_s, .menufillet_w, .menufillet_e, .menufillet_se, .menufillet_sw {
	position: absolute;
	zoom: 1;
	display: block;
	overflow: hidden;
	background-attachment:scroll;
	z-index: 999;
	width: 10px;
	height: 10px;
	background-image: url(../images/bg_sub.png);
}
.menufillet_e {
	background-image: url(../images/hw_s_232058.png);
	background-repeat: repeat-y;
	_background:transparent;
	height: 100%;
	right: 0px;
	top: 0;
	width: 7px;
}
.verticalLine {
	border-left:#cfcfcf solid 1px;
	width:1px;
	height:100%;
	left:200px;
	top:0px;
	float:left;
	min-height:200px;
	height:200px;
	margin:0 45px;
	background-image: url(../images/bg_sub.png);
}
#menu .menuitempanel li {
	float: none;
	top: 0;
	line-height:24px;
}
#menu .menuitempanel li.left {
	float: left;
}
.menuitempanel h2 {
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	padding-bottom:10px;
	height:30px;
}
.menuitempanel h4 {
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	padding-bottom:10px;
	height:14px;
}
.menuitempanel h2 a {
	color: #FFFFFF;
}
.menuitempanel ul li a {
	color:#CCCCCC;
}
.menuitempanel ul.taxonomy {
	margin-left: -5px;
}
#menu .menuitempanel ul.taxonomy li {
	font-size: 14px;
	font-weight: bold;
	text-indent: 10px;
	line-height: 32px;
}
.menuitempanel ul.taxonomy li a {
	color:#ffffff;
}
.menuitempanel ul.m_box li.title {
	font-weight: bold;
	margin-top: 5px;
}
.menuitempanel ul.m_box li.summary {
	width:240px;
	font-weight: normal;
	color: #CCCCCC;	
}
#menu .menuitempanel ul.m_box li.summary ul {
	padding: 0 0;
	float:none;
	width:140px;
	overflow:hidden;
}

.menuitempanel .solutions_products ul.m_box li.summary {
	padding:0 0 0 2px;
}
.menuitempanel .solutions_products ul.m_box li.left {
	margin-right:15px;
}
.menuitempanel ul.m_box li img{
	width:152px;
	height:90px;
	margin-right:10px;
	border: 1px solid #CCCCCC;
}
.menuitempanel ul.m_box h5 img{
	width:152px;
	height:90px;
	margin-right:10px;
	border: 1px solid #CCCCCC;
}
.menuitempanel ul.list {
	margin-right: 45px;
}
.menuitempanel ul.list img { width:110px; height:70px;border: 1px solid #CCCCCC;
}
.menuitempanel ul > li.left > ul {
	margin-right: 45px;
}
.menuitempanel ul.list h3 {
	padding: 0px 0px 0px 0px;
}
.menuitempanel ul.list h3 a {
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
}
.text_xmore{
	text-align: right;
	width: 110px; font-size:12px; color:#FF3300;
}

.menuitempanel .solutions_products ul.m_box li.last, .menuitempanel ul.last, .menuitempanel ul li ul.last {
	margin-top: 0px;
	margin-right: 15px;
	margin-bottom: 0px;
	margin-left: 0px; 
}
.shadow_b_layout {
	background-image: url(../images/ghovermenu.png);
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-position: 0 -67px;
	position: absolute;
	width: 100%;
	left: 0px;
}
.shadow_b_layout div {
	background: url(../images/ghovermenu.png) 100% -1px no-repeat;
	background-attachment: scroll;
	display: block;
	height: 16px;
	margin-left: 15px;
}

.shadow_b_layout, .menufillet_e {
display:none;
}
.menucontentdiv {
	margin-right:0px;
    width:auto;
    height:100%;
	background-image: url(../images/bg_sub.png);
}
.menucontentdiv .clearfix {
padding-bottom:15px;
}

@-moz-document url-prefix() {
.shadow_b_layout, .menufillet_e 
display:none;
}
.menucontentdiv {
margin-right:0px;
border-right: 1px solid #CCC;
border-bottom: 1px solid #CCC;
}
.menucontentdiv .clearfix {
padding-bottom:15px;
}

@media all and (-webkit-min-device-pixel-ratio:10000), not all and (-webkit-min-device-pixel-ratio:0) {
.shadow_b_layout, .menufillet_e {
display:none;
}
.menucontentdiv {
margin-right:0px;
border-right: 1px solid #CCC;
border-bottom: 1px solid #CCC;
}
.menucontentdiv .clearfix {
padding-bottom:15px;
}
/*opera&#19987;&#23646;*/
:root .shadow_b_layout, :root .menufillet_e {
	display:none\9;
}/*IE9&#19987;&#23646;*/
:root .menucontentdiv {
	margin-right:0px\9;
	border-right: 1px solid #CCC\9;
	border-bottom: 1px solid #CCC\9;
}
:root .menucontentdiv .clearfix {
	padding-bottom:15px\9;
}