
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>绿友旅游门户网站--关中之旅</title>
<link href="__ROOT__/Public/css/navi/font.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/Public/css/navi/style.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/Public/css/navi/top.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/Public/css/navi/index.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/Public/css/navi/news.css" rel="stylesheet" type="text/css" />

</head>
<body>


<table width="1007" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" ><script type="text/javascript" src="/commons/scripts/mediaPlayer.js"></script>
        <script type="text/javascript">
	      var __mediaPlayerFactory = new MediaPlayerFactory(null, 1004, 135, '/images/cntravel_banner.swf');
	      __mediaPlayerFactory.init();
	      __mediaPlayerFactory.addParameter("play", "true");
	      __mediaPlayerFactory.addParameter("loop", "true");
	      __mediaPlayerFactory.addParameter("quality", "high");
	      document.write(__mediaPlayerFactory.getMediaPlayer(1));
	</script>
    </td>
  </tr>
</table>
<table width="1007" border="0" align="center" cellpadding="0" cellspacing="0" style=" no-repeat;">
  <tr>
    <td style="padding-left:0px; padding-right:0px;"><div class="nav_header">
       <tr>
    <td style="padding-left:0px; padding-right:0px;margin-top:80px;margin-left:50px;"> 
	<include file="Public/navi"/></td>
  </tr>
</table>
<table width="1003" border="0" align="center" cellpadding="0" cellspacing="0" style="margin:40px auto 0;">
  <tr>
    <td valign="top" bgcolor="#FFFFFF" style=" padding-top:8px; padding-bottom:8px;"><table width="960" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px #adcff2 solid;margin:0 auto;">
       <include file="Public/navi1"/> 
      </table>
    </td>
  </tr>
      </div></td>
  </tr>
</table>

<a name="top"></a>

<table width="1003" border="0" align="center" cellpadding="0" cellspacing="0" style="background:#FFF; margin:0 auto ; " >
  <tr>
    <td width="625" align="left"  style="padding-left:20px">当前位置：关中旅游 &gt; <a  style="color:#004481;">仿秦兵马俑</a> &gt;&gt; 正文 </td>
    <td width="378" align="right"  style="padding-right:25px; color: #000;">&nbsp;</td>
  </tr>
</table>
<div class="newscont">
  <div class="newsleft">
    <div class="xltab1">
      <h2>仿秦兵马俑</h2>
      <br />
      <div id="content"><p style="text-align: center"><img height="399" alt="" width="600" src="__ROOT__/Public/img/techan/techan2.jpg" /></p>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;随着秦兵马俑的发掘与展出，秦兵马俑复制品也日渐成为中外游客理想的纪念品和礼品。其品种适宜于艺术馆、博物馆等陈列，也可供家庭陈设、装饰、馈赠亲友。满足了中外游人的购物需求，使秦俑走出陕西，遍迹世界。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;秦兵马俑被称为“世界第八大奇迹”。陕西文物和工艺美术部门设计和复仿制出了各种造型和规格不同的陶兵俑和马俑。其品种有博物馆、美术馆和涉外旅游饭店、商店陈列的与原兵马俑规格相同的大型俑；有可供会客场所和办公室、家庭摆设装饰的1：2、1：4规格的陶俑；有便于携带、适宜于馈赠亲友的袖珍礼品俑等，可供游客选购。 </p>
   
     
	</div>
    <br/>
      <div class="botul">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-bottom:6px;">
  <tbody> 
  <tr>
  
  
  </tr>
    </tbody></table>
    </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
	
  <include file="Public/comment"/>
   
  </div>
  

  <include file="Public/navi4"/>

  <div class="clear"></div>
</div>

		<table width="1003" border="0" align="center" cellpadding="0" cellspacing="0" style="background-color:#fff;margin:0 auto;">
  <tr>
    <td style="padding-top:8px;"><table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td height="35" align="center" style="background:url(/images/bottom.gif) no-repeat;"><font class="white12px">&nbsp;</font></td>
        </tr>
        <tr>
        <include file="Public/footer" />
        </tr>
      </table></td>
  </tr>
</table>
<div style="display:none;"><script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F02030b92bd14970b33fe45f3d376dfc5' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
</body>
</html>
