
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>绿友旅游门户网站--关中之旅</title>
<link href="__ROOT__/Public/css/navi/font.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/Public/css/navi/style.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/Public/css/navi/top.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/Public/css/navi/index.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/Public/css/navi/news.css" rel="stylesheet" type="text/css" />

</head>
<body>


<table width="1007" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" ><script type="text/javascript" src="/commons/scripts/mediaPlayer.js"></script>
        <script type="text/javascript">
	      var __mediaPlayerFactory = new MediaPlayerFactory(null, 1004, 135, '/images/cntravel_banner.swf');
	      __mediaPlayerFactory.init();
	      __mediaPlayerFactory.addParameter("play", "true");
	      __mediaPlayerFactory.addParameter("loop", "true");
	      __mediaPlayerFactory.addParameter("quality", "high");
	      document.write(__mediaPlayerFactory.getMediaPlayer(1));
	</script>
    </td>
  </tr>
</table>
<table width="1007" border="0" align="center" cellpadding="0" cellspacing="0" style=" no-repeat;">
  <tr>
    <td style="padding-left:0px; padding-right:0px;"><div class="nav_header">
       <tr>
    <td style="padding-left:0px; padding-right:0px;margin-top:80px;margin-left:50px;"> 
	<include file="Public/navi"/></td>
  </tr>
</table>
<table width="1003" border="0" align="center" cellpadding="0" cellspacing="0" style="margin:40px auto 0;">
  <tr>
    <td valign="top" bgcolor="#FFFFFF" style=" padding-top:8px; padding-bottom:8px;"><table width="960" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px #adcff2 solid;margin:0 auto;">
       <include file="Public/navi1"/> 
      </table>
    </td>
  </tr>
      </div></td>
  </tr>
</table>

<a name="top"></a>

<table width="1003" border="0" align="center" cellpadding="0" cellspacing="0" style="background:#FFF; margin:0 auto ; " >
  <tr>
    <td width="625" align="left"  style="padding-left:20px">当前位置：关中旅游 &gt; <a style="color:#004481;">科学教育</a> &gt;&gt; 正文 </td>
    <td width="378" align="right"  style="padding-right:25px; color: #000;">&nbsp;</td>
  </tr>
</table>
<div class="newscont">
  <div class="newsleft">
    <div class="xltab1">
      <h2>科学教育</h2>
      <br />
      <div id="content"><p style="text-align: center"><img height="399" alt="" width="600" src="__ROOT__/Public/img/kejiao/kejiao1.jpg" /></p>
    <p style="text-align: center">&nbsp;教育事业</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;西安是中国高等院校和科研院所聚集的城市之一，在校学生人数仅次于北京、上海，居中国第三位，是中国高校密度和受高等教育人数最多的城市，是中国三大教育、科研中心之一。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2014年，全省共有高等学校96所，其中普通高等学校80所，另有独立学院12所。全年招收普通本专科学生30.64万人，在校学生109.96万人；研究生招生3.22万人，其中科研单位205人，在学研究生9.87万人，其中科研单位712人；成人高等教育招生6.24万人，在校学生17.63万人；中等职业院校招生13.53万人（不含技工学校），在校学生37.71万人。</p></div>
    <p style="text-align: center">&nbsp;科技事业</p>
	<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2013年地方登记的科技成果共2462项，其中，农、林、牧、渔业217项，采矿业84项，制造业447项，电力、热力、燃气及水的生产和供应业142项，建筑业40项，批发和零售业1项，交通运输、仓储和邮政业46项，住宿和餐饮业1项，信息传输、软件和信息技术服务业185项，金融业2项，房地产业1项，科学研究和技术服务业888项，水利、环境和公共设施管理业56项，居民服务、修理和其他服务业25项，教育24项，卫生和社会工作271项，文化、体育和娱乐业18项，公共管理、社会保障和社会组织14项。</p>   

	
      <br />
      <div class="botul">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-bottom:6px;">
  <tbody> 
  <tr>
  
  
  </tr>
    </tbody></table>
    </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
	
  <include file="Public/comment"/>
   
  </div>
  

<include file="Public/navi4"/>

  <div class="clear"></div>
</div>

		<table width="1003" border="0" align="center" cellpadding="0" cellspacing="0" style="background-color:#fff;margin:0 auto;">
  <tr>
    <td style="padding-top:8px;"><table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td height="35" align="center" style="background:url(/images/bottom.gif) no-repeat;"><font class="white12px">&nbsp;</font></td>
        </tr>
        <tr>
        <include file="Public/footer" />
        </tr>
      </table></td>
  </tr>
</table>
<div style="display:none;"><script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F02030b92bd14970b33fe45f3d376dfc5' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
</body>
</html>
