
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>绿友旅游门户网站--关中之旅</title>
<link href="__ROOT__/Public/css/navi/font.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/Public/css/navi/style.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/Public/css/navi/top.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/Public/css/navi/index.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/Public/css/navi/news.css" rel="stylesheet" type="text/css" />

</head>
<body>


<table width="1007" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" ><script type="text/javascript" src="/commons/scripts/mediaPlayer.js"></script>
        <script type="text/javascript">
	      var __mediaPlayerFactory = new MediaPlayerFactory(null, 1004, 135, '/images/cntravel_banner.swf');
	      __mediaPlayerFactory.init();
	      __mediaPlayerFactory.addParameter("play", "true");
	      __mediaPlayerFactory.addParameter("loop", "true");
	      __mediaPlayerFactory.addParameter("quality", "high");
	      document.write(__mediaPlayerFactory.getMediaPlayer(1));
	</script>
    </td>
  </tr>
</table>
<table width="1007" border="0" align="center" cellpadding="0" cellspacing="0" style=" no-repeat;">
  <tr>
    <td style="padding-left:0px; padding-right:0px;"><div class="nav_header">
       <tr>
    <td style="padding-left:0px; padding-right:0px;margin-top:80px;margin-left:50px;"> 
	<include file="Public/navi"/></td>
  </tr>
</table>
<table width="1003" border="0" align="center" cellpadding="0" cellspacing="0" style="margin:40px auto 0;">
  <tr>
    <td valign="top" bgcolor="#FFFFFF" style=" padding-top:8px; padding-bottom:8px;"><table width="960" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px #adcff2 solid;margin:0 auto;">
       <include file="Public/navi1"/> 
      </table>
    </td>
  </tr>
      </div></td>
  </tr>
</table>

<a name="top"></a>

<table width="1003" border="0" align="center" cellpadding="0" cellspacing="0" style="background:#FFF; margin:0 auto ; " >
  <tr>
    <td width="625" align="left"  style="padding-left:20px">当前位置：关中旅游 &gt; <a  style="color:#004481;">陕西美食文化</a> &gt;&gt; 正文 </td>
    <td width="378" align="right"  style="padding-right:25px; color: #000;">&nbsp;</td>
  </tr>
</table>
<div class="newscont">
  <div class="newsleft">
    <div class="xltab1">
      <h2>陕西美食文化</h2>
      <br />
      <div id="content"><p style="text-align: center"><img height="399" alt="" width="600" src="__ROOT__/Public/img/meishi/meishi3.jpg" /></p>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;经历了千余年发展的陕西小吃。由于政治、经济、文化的有利条件，博采各地之精华，兼收民族饮食之风味，挖掘、继承历代宫廷小吃之技艺，因而以其品种繁多、风味各异而著称。在漫长的历史时期得到了发展和充实，使之更加完善。陕西小吃以浓郁的乡土韵味，内容丰富，赢得了国内外普遍赞赏和高度评价。它不仅是中国烹饪文化宝库中一颗光彩夺目的明珠，也是陕西烹饪文化的重要组成部分，更是千百万到陕西旅游者的不得不吃的美味佳肴！ </p>
     <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;传统的风味小吃，是陕西烹饪文化的重要组成部分，在漫长的历史时期得 到了发展和充实，使之更加完善。它以浓郁的乡土韵味，内容丰富，赢得了国内外普遍赞赏和高度评价。由于陕西地处黄土高原，风沙大，冬天温度较低，所以小吃多以辛辣鲜香，油多肉腻为特点。西安城内经营羊肉泡馍的以老孙家羊肉泡馍最有名气，东大街那家就很不错，分量十足；樊记肉夹馍也很好吃；桥梓口回民街的吃食地道，泡馍、汤包、杂碎汤等等，不贵而且好吃；贾三灌汤包子就是在包子里包进用皮和调料熬成的高汤冻（肉冻），此小吃不可不尝；烤肉串二角钱一串，物美价廉；凉皮又称“皮子”，调味讲究，以“白、薄、光、软、筋、香”而闻名，味酸、辣，凉爽可口，是关中西府的重要名吃；锅盔始创于唐代，用铁锅烙制。</p>
    </div>
    <br/>
      <div class="botul">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-bottom:6px;">
  <tbody> 
  <tr>
  
  
  </tr>
    </tbody></table>
    </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
	
  <include file="Public/comment"/>
   
  </div>
  

<include file="Public/navi4"/>

  <div class="clear"></div>
</div>

		<table width="1003" border="0" align="center" cellpadding="0" cellspacing="0" style="background-color:#fff;margin:0 auto;">
  <tr>
    <td style="padding-top:8px;"><table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td height="35" align="center" style="background:url(/images/bottom.gif) no-repeat;"><font class="white12px">&nbsp;</font></td>
        </tr>
        <tr>
        <include file="Public/footer" />
        </tr>
      </table></td>
  </tr>
</table>
<div style="display:none;"><script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F02030b92bd14970b33fe45f3d376dfc5' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
</body>
</html>
