
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>绿友旅游门户网站--关中之旅</title>
<link href="__ROOT__/Public/css/navi/font.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/Public/css/navi/style.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/Public/css/navi/top.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/Public/css/navi/index.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/Public/css/navi/news.css" rel="stylesheet" type="text/css" />

</head>
<body>


<table width="1007" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" ><script type="text/javascript" src="/commons/scripts/mediaPlayer.js"></script>
        <script type="text/javascript">
	      var __mediaPlayerFactory = new MediaPlayerFactory(null, 1004, 135, '/images/cntravel_banner.swf');
	      __mediaPlayerFactory.init();
	      __mediaPlayerFactory.addParameter("play", "true");
	      __mediaPlayerFactory.addParameter("loop", "true");
	      __mediaPlayerFactory.addParameter("quality", "high");
	      document.write(__mediaPlayerFactory.getMediaPlayer(1));
	</script>
    </td>
  </tr>
</table>
<table width="1007" border="0" align="center" cellpadding="0" cellspacing="0" style=" no-repeat;">
  <tr>
    <td style="padding-left:0px; padding-right:0px;"><div class="nav_header">
       <tr>
    <td style="padding-left:0px; padding-right:0px;margin-top:80px;margin-left:50px;"> 
	<include file="Public/navi"/></td>
  </tr>
</table>
<table width="1003" border="0" align="center" cellpadding="0" cellspacing="0" style="margin:40px auto 0;">
  <tr>
    <td valign="top" bgcolor="#FFFFFF" style=" padding-top:8px; padding-bottom:8px;"><table width="960" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px #adcff2 solid;margin:0 auto;">
       <include file="Public/navi1"/> 
      </table>
    </td>
  </tr>
      </div></td>
  </tr>
</table>

<a name="top"></a>

<table width="1003" border="0" align="center" cellpadding="0" cellspacing="0" style="background:#FFF; margin:0 auto ; " >
  <tr>
    <td width="625" align="left"  style="padding-left:20px">当前位置：关中旅游 &gt; <a style="color:#004481;">秦岭山脉</a> &gt;&gt; 正文 </td>
    <td width="378" align="right"  style="padding-right:25px; color: #000;">&nbsp;</td>
  </tr>
</table>
<div class="newscont">
  <div class="newsleft">
    <div class="xltab1">
      <h2>秦岭山脉</h2>
      <br />
      <div id="content"><p style="text-align: center"><img height="399" alt="" width="600" src="__ROOT__/Public/img/taibai/qinling1.jpg" /></p>
<p style="text-align: center">&nbsp;</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;陕西秦岭的中段称终南山，主要山岭有四方台、首阳山、终南山和东光秃山等，海拔均在2500—3000米。是沣河、涝河、浐河、子午河、旬河和金钱河等的发源地。由秦岭梁向东南延坤的平河梁，主峰是广东山，海拔为2675米。在句河和社川河流域，有近东西向延伸的古道岭、海棠山和羊山，山势低缓而破碎，海拔在1500米左右，是月河主要支流——恒河、付家河和蜀河、池何等于、支流的发源地。</p></div>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;秦岭地区野生动物中有大熊猫、金丝猴、羚牛等珍贵品种，鸟类有国家一类保护对象朱鹮和黑鹳。秦岭现设有国家级太白山自然保护区和佛坪自然保护区。其中，大熊猫、金丝猴、羚牛、朱鹮被并称为“秦岭四宝”。在秦岭里，还藏匿着鬣羚、斑羚、野猪、黑熊、林麝、小麂、刺猬、竹鼠、鼯鼠、松鼠等数不清的哺乳动物，以及堪称世上最为丰富的雉鸡类族群。</p>   
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;秦岭地区的秦巴山区跨越商洛、安康、汉中等地区，一直延伸 至河南省，自然资源比较丰富。素有“南北植物荟萃、南北生物物种库”之美誉。</p> 
	<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;秦岭地区的关中平原盆地区南部山地矿产资源丰富，不仅金矿、钼矿等蕴藏丰富，而且有大量的非金属矿和建材石料，为发展冶金、建材工业提供了丰富的资源，其中潼关、太白的金矿，金堆城钼矿，蓝田玉石等最为著名。</p> 
	
      <br />
      <div class="botul">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-bottom:6px;">
  <tbody> 
  <tr>
  
  
  </tr>
    </tbody></table>
    </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
	
  <include file="Public/comment"/>
   
  </div>
  

<include file="Public/navi4"/>

  <div class="clear"></div>
</div>

		<table width="1003" border="0" align="center" cellpadding="0" cellspacing="0" style="background-color:#fff;margin:0 auto;">
  <tr>
    <td style="padding-top:8px;"><table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td height="35" align="center" style="background:url(/images/bottom.gif) no-repeat;"><font class="white12px">&nbsp;</font></td>
        </tr>
        <tr>
        <include file="Public/footer" />
        </tr>
      </table></td>
  </tr>
</table>
<div style="display:none;"><script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F02030b92bd14970b33fe45f3d376dfc5' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
</body>
</html>
