
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>绿友旅游门户网站--关中之旅</title>
<link href="__ROOT__/Public/css/navi/font.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/Public/css/navi/style.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/Public/css/navi/top.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/Public/css/navi/index.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/Public/css/navi/news.css" rel="stylesheet" type="text/css" />

</head>
<body>


<table width="1007" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" ><script type="text/javascript" src="/commons/scripts/mediaPlayer.js"></script>
        <script type="text/javascript">
	      var __mediaPlayerFactory = new MediaPlayerFactory(null, 1004, 135, '/images/cntravel_banner.swf');
	      __mediaPlayerFactory.init();
	      __mediaPlayerFactory.addParameter("play", "true");
	      __mediaPlayerFactory.addParameter("loop", "true");
	      __mediaPlayerFactory.addParameter("quality", "high");
	      document.write(__mediaPlayerFactory.getMediaPlayer(1));
	</script>
    </td>
  </tr>
</table>
<table width="1007" border="0" align="center" cellpadding="0" cellspacing="0" style=" no-repeat;">
  <tr>
    <td style="padding-left:0px; padding-right:0px;"><div class="nav_header">
       <tr>
    <td style="padding-left:0px; padding-right:0px;margin-top:80px;margin-left:50px;"> 
	<include file="Public/navi"/></td>
  </tr>
</table>
<table width="1003" border="0" align="center" cellpadding="0" cellspacing="0" style="margin:40px auto 0;">
  <tr>
    <td valign="top" bgcolor="#FFFFFF" style=" padding-top:8px; padding-bottom:8px;"><table width="960" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px #adcff2 solid;margin:0 auto;">
       <include file="Public/navi1"/> 
      </table>
    </td>
  </tr>
      </div></td>
  </tr>
</table>

<a name="top"></a>

<table width="1003" border="0" align="center" cellpadding="0" cellspacing="0" style="background:#FFF; margin:0 auto ; " >
  <tr>
    <td width="625" align="left"  style="padding-left:20px">当前位置：关中旅游 &gt; <a style="color:#004481;">秦腔</a> &gt;&gt; 正文 </td>
    <td width="378" align="right"  style="padding-right:25px; color: #000;">&nbsp;</td>
  </tr>
</table>
<div class="newscont">
  <div class="newsleft">
    <div class="xltab1">
      <h2>秦腔</h2>
      <br />
      <div id="content"><p style="text-align: center"><img height="399" alt="" width="400" src="__ROOT__/Public/img/qinqiang/qinqiang2.jpg" /></p>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;秦腔又称乱弹，源于西秦腔，是一种非常古老的汉族戏曲剧种。主要流行于中国西北地区的陕西、甘肃、青海、宁夏、新疆等地，又因其以枣木梆子为击节乐器，所以又叫“梆子腔”，俗称“桄桄子”（因以梆击节时发出“恍恍”声）。明末无名氏《钵中莲》传奇中使用了[西秦腔二犯]的曲牌，故知其。今陕西宝鸡和甘肃天水为古西秦之地，经史料考证，西秦腔源于甘肃天水，后经来往商客带入长安，使其得以壮大，发展 。清康熙时，陕西泾阳人张鼎望写《秦腔论》，可知秦腔此时已发展为成熟期。待到乾隆年间，魏长生进京演出秦腔，轰动京师。对各地梆子声腔的形成有着直接影响。</p>
     <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;秦腔又称乱弹，源于西秦腔，是一种非常古老的汉族戏曲剧种。主要流行于中国西北地区的陕西、甘肃、青海、宁夏、新疆等地，又因其以枣木梆子为击节乐器，所以又叫“梆子腔”，俗称“桄桄子”（因以梆击节时发出“恍恍”声）。明末无名氏《钵中莲》传奇中使用了[西秦腔二犯]的曲牌，故知其。今陕西宝鸡和甘肃天水为古西秦之地，经史料考证，西秦腔源于甘肃天水，后经来往商客带入长安，使其得以壮大，发展 。清康熙时，陕西泾阳人张鼎望写《秦腔论》，可知秦腔此时已发展为成熟期。待到乾隆年间，魏长生进京演出秦腔，轰动京师。对各地梆子声腔的形成有着直接影响。</p>[西秦腔二犯]的曲牌，故知其。今陕西宝鸡和甘肃天水为古西秦之地，经史料考证，西秦腔源于甘肃天水，后经来往商客带入长安，使其得以壮大，发展 。清康熙时，陕西泾阳人张鼎望写《秦腔论》，可知秦腔此时已发展为成熟期。待到乾隆年间，魏长生进京演出秦腔，轰动京师。对各地梆子声腔的形成有着直接影响。</p>
       <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;秦腔因其流行地区的不同，衍变成不同的流派：流行于关中东部渭南地区大荔、蒲城一带的称东路秦腔（即同州绑子，也叫老秦腔、东路梆子）；流行于关中西部宝鸡地区的凤翔、岐山、陇县和甘肃省天水一带的称西路秦腔（又叫西府秦腔、西路梆子）；流行于汉中地区的洋县、城固、汉中、沔县一带有汉调恍恍（实为南路秦腔，又叫汉调秦腔、桄桄戏）；流行于西安一带的称中路秦腔（就是西安乱弹）。其中的西路入川后成为梆子；东路在山西为晋剧，在河南为豫剧，在河北成为梆子，所以说秦腔可以算是京剧、豫剧、晋剧、河北梆子这些剧目的鼻祖。各路秦腔因受各地方言和汉族民间音乐影响，在语音、唱腔、音乐等方面，都稍有差别。近五十年来，东、西、南三路秦腔的发展趋于停滞，有被中路秦腔取而代之的趋势。</p>
     
	</div>
    <br/>
      <div class="botul">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-bottom:6px;">
  <tbody> 
  <tr>
  
  
  </tr>
    </tbody></table>
    </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
	
  <include file="Public/comment"/>
   
  </div>
  

<include file="Public/navi4"/>

  <div class="clear"></div>
</div>

		<table width="1003" border="0" align="center" cellpadding="0" cellspacing="0" style="background-color:#fff;margin:0 auto;">
  <tr>
    <td style="padding-top:8px;"><table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td height="35" align="center" style="background:url(/images/bottom.gif) no-repeat;"><font class="white12px">&nbsp;</font></td>
        </tr>
        <tr>
        <include file="Public/footer" />
        </tr>
      </table></td>
  </tr>
</table>
<div style="display:none;"><script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F02030b92bd14970b33fe45f3d376dfc5' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
</body>
</html>
