
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>绿友旅游门户网站--关中之旅</title>
<link href="__ROOT__/Public/css/navi/font.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/Public/css/navi/style.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/Public/css/navi/top.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/Public/css/navi/index.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/Public/css/navi/news.css" rel="stylesheet" type="text/css" />

</head>
<body>


<table width="1007" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" ><script type="text/javascript" src="/commons/scripts/mediaPlayer.js"></script>
        <script type="text/javascript">
	      var __mediaPlayerFactory = new MediaPlayerFactory(null, 1004, 135, '/images/cntravel_banner.swf');
	      __mediaPlayerFactory.init();
	      __mediaPlayerFactory.addParameter("play", "true");
	      __mediaPlayerFactory.addParameter("loop", "true");
	      __mediaPlayerFactory.addParameter("quality", "high");
	      document.write(__mediaPlayerFactory.getMediaPlayer(1));
	</script>
    </td>
  </tr>
</table>
<table width="1007" border="0" align="center" cellpadding="0" cellspacing="0" style=" no-repeat;">
  <tr>
    <td style="padding-left:0px; padding-right:0px;"><div class="nav_header">
       <tr>
    <td style="padding-left:0px; padding-right:0px;margin-top:80px;margin-left:50px;"> 
	<include file="Public/navi"/></td>
  </tr>
</table>
<table width="1003" border="0" align="center" cellpadding="0" cellspacing="0" style="margin:40px auto 0;">
  <tr>
    <td valign="top" bgcolor="#FFFFFF" style=" padding-top:8px; padding-bottom:8px;"><table width="960" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px #adcff2 solid;margin:0 auto;">
       <include file="Public/navi1"/> 
      </table>
    </td>
  </tr>
      </div></td>
  </tr>
</table>

<a name="top"></a>

<table width="1003" border="0" align="center" cellpadding="0" cellspacing="0" style="background:#FFF; margin:0 auto ; " >
  <tr>
    <td width="625" align="left"  style="padding-left:20px">当前位置：关中旅游 &gt; <a  style="color:#004481;">奇异果</a> &gt;&gt; 正文 </td>
    <td width="378" align="right"  style="padding-right:25px; color: #000;">&nbsp;</td>
  </tr>
</table>
<div class="newscont">
  <div class="newsleft">
    <div class="xltab1">
      <h2>奇异果</h2>
      <br />
      <div id="content"><p style="text-align: center"><img height="399" alt="" width="600" src="__ROOT__/Public/img/techan/techan5.jpg" /></p>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;中国是猕猴桃的原产地，世界猕猴桃原产地在宜昌市夷陵区雾渡河镇。中国猕猴桃之乡江西省奉新县、西安市周至县、宝鸡市眉县、四川省苍溪县、南阳市西峡县以及浙江省江山市、湘西凤凰县、永顺县、广东省和平县、贵州省修文县。湖北省红安县、开阳县、桐梓有野生的猕猴桃。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;猕猴桃一般是椭圆形的。 墨绿色并带毛的表皮一般不食用，而其内则是呈亮绿色的果肉和一排黑色的种子。猕猴桃的质地柔软，味道有时被描述为草莓、香蕉、凤梨三者的混合。因猕猴喜食，故名猕猴桃；亦有说法是因为果皮覆毛，貌似猕猴而得名，是一种品质鲜嫩，营养丰富，风味鲜美，人们喜食的水果，有美容养颜的效果，延迟皮肤衰老的作用，深受各年龄人的喜爱。</p>
   
     
	</div>
    <br/>
      <div class="botul">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-bottom:6px;">
  <tbody> 
  <tr>
  
  
  </tr>
    </tbody></table>
    </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
	
  <include file="Public/comment"/>
   
  </div>
  

  <include file="Public/navi4"/>

  <div class="clear"></div>
</div>

		<table width="1003" border="0" align="center" cellpadding="0" cellspacing="0" style="background-color:#fff;margin:0 auto;">
  <tr>
    <td style="padding-top:8px;"><table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td height="35" align="center" style="background:url(/images/bottom.gif) no-repeat;"><font class="white12px">&nbsp;</font></td>
        </tr>
        <tr>
        <include file="Public/footer" />
        </tr>
      </table></td>
  </tr>
</table>
<div style="display:none;"><script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F02030b92bd14970b33fe45f3d376dfc5' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
</body>
</html>
