
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>绿友旅游门户网站--关中之旅</title>
<link href="__ROOT__/Public/css/navi/font.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/Public/css/navi/style.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/Public/css/navi/top.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/Public/css/navi/index.css" rel="stylesheet" type="text/css" />
<link href="__ROOT__/Public/css/navi/news.css" rel="stylesheet" type="text/css" />

</head>
<body>


<table width="1007" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="left" ><script type="text/javascript" src="/commons/scripts/mediaPlayer.js"></script>
        <script type="text/javascript">
	      var __mediaPlayerFactory = new MediaPlayerFactory(null, 1004, 135, '/images/cntravel_banner.swf');
	      __mediaPlayerFactory.init();
	      __mediaPlayerFactory.addParameter("play", "true");
	      __mediaPlayerFactory.addParameter("loop", "true");
	      __mediaPlayerFactory.addParameter("quality", "high");
	      document.write(__mediaPlayerFactory.getMediaPlayer(1));
	</script>
    </td>
  </tr>
</table>
<table width="1007" border="0" align="center" cellpadding="0" cellspacing="0" style=" no-repeat;">
  <tr>
    <td style="padding-left:0px; padding-right:0px;"><div class="nav_header">
       <tr>
    <td style="padding-left:0px; padding-right:0px;margin-top:80px;margin-left:50px;"> 
	<include file="Public/navi"/></td>
  </tr>
</table>
<table width="1003" border="0" align="center" cellpadding="0" cellspacing="0" style="margin:40px auto 0;">
  <tr>
    <td valign="top" bgcolor="#FFFFFF" style=" padding-top:8px; padding-bottom:8px;"><table width="960" border="0" align="center" cellpadding="0" cellspacing="0" style="border:1px #adcff2 solid;margin:0 auto;">
       <include file="Public/navi1"/> 
      </table>
    </td>
  </tr>
      </div></td>
  </tr>
</table>

<a name="top"></a>

<table width="1003" border="0" align="center" cellpadding="0" cellspacing="0" style="background:#FFF; margin:0 auto ; " >
  <tr>
    <td width="625" align="left"  style="padding-left:20px">当前位置：关中旅游 &gt; <a  style="color:#004481;">社火</a> &gt;&gt; 正文 </td>
    <td width="378" align="right"  style="padding-right:25px; color: #000;">&nbsp;</td>
  </tr>
</table>
<div class="newscont">
  <div class="newsleft">
    <div class="xltab1">
      <h2>社火</h2>
      <br />
      <div id="content"><p style="text-align: center"><img height="400" alt="" width="600" src="__ROOT__/Public/img/minsu/shehuo2.jpg" /></p>

    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;社火（Shehuo）是中国汉族民间一种庆祝春节的传统庆典狂欢活动。也是高台、高跷、旱船、舞狮、舞龙，秧歌等等的通称，具体形式随地域而有较大差异。</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;每队社火都有一个仪程官（民间称为说诗的），如春节到到单位或居民家中拜年时，仪程官就随着锣鼓点子说4句一首的祝辞，一般都是因单位性质职能不同或居民家庭的情况不同而现编现说。社火队的主要项目有：高跷，民间称高拐子，一般用椽材制成长约3尺或4尺的长方形柱体木腿，在上半部约1尺的地方安装一长条（以脚宽为宜）横板，脚踩在横板上，上半部的木腿绑在人体的小腿上。身着历史戏剧人物服装。一般扮演的有《断桥》、《盗仙草》、《挑黄袍》、《唐僧取经》、《八仙过海》、《包公赔情》等戏剧中的人物。在强烈节奏的锣鼓音乐伴奏下，做行进队列或场地定点表演。如表演断桥，由许仙，青蛇、白蛇3人用秦腔调唱台词，加以简单的手势动作。旱船，用竹子做成船形，再用彩纸或彩绸粘糊，有船姑娘驾船，走碎步，犹如船在海中行走样，由一老翁走在前面，手拿浆板，做摇船样。跑竹马，用竹子做骨架，扎成马形（也有驴形），以彩绸或彩纸装饰，表演者腰围竹马，宛如骑马一样，男女成双成对，编队穿梭奔驰、跳跃、对唱，乐感强烈，节奏鲜明，气氛热烈。</p>
    
	</div>
    <br/>
      <div class="botul">
      <table width="100%" border="0" cellspacing="0" cellpadding="0" style="margin-bottom:6px;">
  <tbody> 
  <tr>
  
  
  </tr>
    </tbody></table>
    </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
	
  <include file="Public/comment"/>
   
  </div>
  

  <include file="Public/navi4"/>

  <div class="clear"></div>
</div>

		<table width="1003" border="0" align="center" cellpadding="0" cellspacing="0" style="background-color:#fff;margin:0 auto;">
  <tr>
    <td style="padding-top:8px;"><table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
        <tr>
          <td height="35" align="center" style="background:url(/images/bottom.gif) no-repeat;"><font class="white12px">&nbsp;</font></td>
        </tr>
        <tr>
        <include file="Public/footer" />
        </tr>
      </table></td>
  </tr>
</table>
<div style="display:none;"><script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F02030b92bd14970b33fe45f3d376dfc5' type='text/javascript'%3E%3C/script%3E"));
</script>
</div>
</body>
</html>
